<div class="container">
    <header-directive></header-directive>
    <div class="row">
        <div class="col-md-11 col-md-push-1">
            <search-directive></search-directive>
        </div>
    </div>
    <div class="in-check">
        <ul class="unit">
            <li><span>Item</span></li>
            <li><span>Product Name</span></li>
            <li><span>Unit Price</span></li>
            <li><span>Quantity</span></li>
            <li></li>
            <div class="clearfix"></div>
        </ul>
        <ul class="cart-header">
            <div class="close1"></div>
            <div>
                <ul ng-repeat="product in cartctrl.cartProducts">
                    <li class="ring-in"><a href="single.html"><img
                            ng-src="http://127.0.0.1:9000/fetch_image_file/product_image/{{product.images[0]}}"
                            class="img-responsive"
                            alt=""></a>
                    </li>
                    <li><span class="name">{{product.name}}</span></li>
                    <li><span class="cost">Unit cost: UGX {{product.price}}</span></li>
                    <li><span class="price">Subtotal: UGX {{cartctrl.getSubtotalAndUpdateCartProduct(product, product.quantity) }}</span></li>
                    <li>
                        <!--ng-model uses product.key to prevent it from binding to all products-->

                        <span>Quantity</span>
                        <select
                                ng-init="product.quantity"
                                ng-model="product.quantity"
                                ng-options="choice.id as choice.name for choice in cartctrl.quantityChoices">
                        </select>
                        <button class="btn btn-danger add-to-cart-btn"
                                ng-click="cartctrl.removeFromCart(product.cartkey)">Delete
                        </button>
                    </li>
                </ul>

                <p>GRAND TOTAL: UGX {{cartctrl.getGrandtotal()}}</p>
            </div>

            <div class="clearfix"></div>
        </ul>
    </div>

</div>