<div class="container">
    <header-directive></header-directive>

    <form name="form" ng-submit="couctrl.onValueChange()" role="form">
        <span>Status</span>
        <select
                ng-init="couctrl.statusChoice"
                ng-model="couctrl.statusChoice"
                ng-change="couctrl.onValueChange()"
                ng-options="choice.id as choice.name for choice in couctrl.statusChoices">
        </select>
        <br><br>

        <span>Vendor</span>
        <select
                ng-init="couctrl.vendorChoice"
                ng-model="couctrl.vendorChoice"
                ng-change="couctrl.onValueChange()"
                ng-options="choice.id as choice.name for choice in couctrl.vendorChoices">
        </select>
        <!--<button type="submit">Submit</button>-->
    </form>

    <div style="margin: 40px">
        <table border="1">
            <tr>
                <th>Product Name</th>
                <th>Buyer</th>
                <th>Valid</th>
                <th>Received</th>
                <th>Delivery Time</th>
            </tr>
            <tr ng-repeat="order in couctrl.data" ng-click="couctrl.openProductStatusPage(order)">
                <td>{{order.product.name}}</td>
                <td>{{order.buyer.username}}</td>
                <td>{{order.valid}}</td>
                <td>{{order.received}}</td>
                <td>{{order.deliveryTime}}</td>
            </tr>
        </table>
    </div>
</div>