<div class="wrapper">
    <!-- HEADER -->
    <header class="site-header header-opt-1">

        <!-- header-top -->
        <div class="header-top">
            <div class="container" style="padding: 22px;padding-bottom: 8px">

                <ul class="hotline nav-left">
                    <li><span class="welcome">Bomboka</span><img src=""></li>
                </ul>

                <ul class="links nav-right">

                    <form class="navbar-form navbar-right" ng-submit="vm.login()" role="form" name="form">
                        <input type="text" name="username" id="username-login-input" class="form-control"
                               ng-model="vm.username"
                               required=""/>
                        <input class="form-control" type="password" placeholder="Password" name="password"
                               ng-model="vm.password"
                               id="password-form-input" required="">
                        <button style="height:34px;background-color: #1369c0;border-color: #fff;" type="submit"
                                class="btn btn-inline">Login
                        </button>
                    </form>
                    <a href="http://127.0.0.1:8000/password_reset/" style="color: white">Forgot Password?</a>
                </ul>
            </div>
        </div>
    </header>
    <!-- end HEADER -->

    <!-- MAIN -->
    <main class="site-main">
        <!-- header sign-up & slider -->
        <div style="padding-bottom: 16px" class=" container">
            <div class=" block-section-top block-section-top7">

                <div class=" block-slide-main slide-opt-4">

                    <!-- slide -->
                    <div class="owl-carousel "
                         data-nav="true"
                         data-dots="true"
                         data-margin="0"
                         data-items='1'
                         data-autoplayTimeout="700"
                         data-autoplay="true"
                         data-loop="true">
                        <div class="item item1" style="background-image: url(images/media/index4/slide1.jpg);">

                            <div class="description">
                                <span class="title">Furniture   </span>
                                <span class="subtitle"> Combo  40% Off</span>
                                <span class="des"> Products leading fashion or participate <br> For a chance to own right</span>
                                <a href="#" class="btn">shop now</a>
                            </div>

                        </div>
                        <div class="item item2" style="background-image: url(images/media/index4/slide2.jpg);">

                            <div class="description">
                                <span class="title">Samsung <span>Galaxy S10</span>  </span>
                                <span class="subtitle">Next is now</span>

                                <a href="#" class="btn">Shop Now</a>
                            </div>

                        </div>
                        <div class="item item3" style="background-image: url(images/media/index4/slide3.jpg);">

                            <div class="description">
                                <span class="title"> Bugr 50 </span>
                                <span class="subtitle">Sport Watch  </span>
                                <span class="des"> Smart Watch with Health Monitoring   <br> Funitions Including</span>
                                <a href="#" class="btn">Shop Now</a>
                            </div>

                        </div>

                    </div><!-- block slide top --></div>


                <div class="block-form-login">
                    <div class="block-form-registered" style="padding:0;">
                        <div class="block-content">
                            <form ng-submit="vm.register()">
                                <style type="text/css">.block-form-login .form-control {
                                    max-width: 100%
                                }</style>

                                <div class="panel with-nav-tabs panel-primary">
                                    <div class="panel-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade in active" id="tab1primary">
                                                <div class="form-group">
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="User Name" type="text"
                                                           ng-model="vm.user.username">
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="First Name" type="text"
                                                           ng-model="vm.user.firstname">
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Last Name" type="text"
                                                           ng-model="vm.user.lastname">
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Email Address" type="email"
                                                           ng-model="vm.user.email">
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Phone Number" type="number"
                                                           ng-model="vm.user.phone">
                                                </div>
                                                <input
                                                        data-file
                                                        id="id_image" name="image"
                                                        ng-model="my_image_model" type="file">
                                                <p>Birthday</p>
                                                <div class="block-content" style="padding-bottom: 22px;">
                                                    <div class="categori-search  ">
                                                        <input type="date" class="signup-input" ng-model="vm.user.dob"
                                                               ng-change="couctrl.onValueChange()"
                                                               format="dd/MM/yyyy"
                                                               placeholder="Date of Birth" min="1930-01-01"
                                                               max="2100-12-31">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="radio" name="gender" value="1"
                                                           ng-model="vm.user.gender">&nbsp;Female&nbsp;&nbsp;&nbsp;&nbsp;<input
                                                        type="radio" name="gender" value="0" ng-model="vm.user.gender">&nbsp;Male
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Password" type="password"
                                                           ng-model="vm.user.password">
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-control" placeholder="Confirm Password"
                                                           type="password" ng-model="vm.user.passwordConfirm">
                                                </div>
                                                <button style="width: 100%;background: #9933FF;border-color: #fff;" class="btn btn-inline">Sign Up</button>
                                            </div>
                                            <!-- end sign up -->
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- header login & slider -->

        <!-- block banner -->
        <div class="block-banner-main effect-banner1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="#" class="box-img"><img src="images/banner/index1/banner1.jpg" alt="banner1"></a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="box-img"><img src="images/banner/index1/banner2.jpg" alt="banner1"></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="#" class="box-img"><img src="images/banner/index1/banner3.jpg" alt="banner1"></a>
                    </div>
                </div>
            </div>
        </div><!-- block banner -->

        <!-- block-hot-categori -->
        <div class="block-hot-categori">
            <div class="container">
                <div class="block-title">
                    <span class="title">Hot Categories</span>
                </div>
                <div class="block-content">
                    <div class="item">
                        <div class="item-info">
                            <strong class="title">
                                <a href="#"><img alt="title-hot-categori1"
                                                 src="images/icon/index1/title-hot-categori1.png">
                                    <span>fashion</span></a>
                            </strong>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img alt="hot-categori1" src="images/media/index1/hot-categori1.jpg">
                                        <span>bags women</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="hot-categori2" src="images/media/index1/hot-categori2.jpg">
                                        <span>Short Men</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-info">
                            <strong class="title">
                                <a href="#"><img alt="hot-categori" src="images/icon/index1/title-hot-categori2.png">
                                    <span>Electronics</span></a>
                            </strong>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img alt="hot-categori" src="images/media/index1/hot-categori3.jpg">
                                        <span>SamSung Ultral Shap</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="hot-categori" src="images/media/index1/hot-categori4.jpg">
                                        <span>Sony Hd Ultral 7.0</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-info">
                            <strong class="title">
                                <a href="#"><img alt="hot-categori" src="images/icon/index1/title-hot-categori3.png">
                                    <span>Accessories</span></a>
                            </strong>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img alt="hot-categori" src="images/media/index1/hot-categori5.jpg">
                                        <span>gold necklace</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="hot-categori" src="images/media/index1/hot-categori6.jpg">
                                        <span>Diamon blue</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-info">
                            <strong class="title">
                                <a href="#"><img alt="hot-categori" src="images/icon/index1/title-hot-categori4.png">
                                    <span>Sport</span></a>
                            </strong>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img alt="hot-categori" src="images/media/index1/hot-categori7.jpg">
                                        <span>Training Sport</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="hot-categori" src="images/media/index1/hot-categori8.jpg">
                                        <span>Sport Training men</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-info">
                            <strong class="title">
                                <a href="#"><img alt="hot-categori" src="images/icon/index1/title-hot-categori5.png">
                                    <span>SmartPhone</span></a>
                            </strong>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img alt="hot-categori" src="images/media/index1/hot-categori9.jpg">
                                        <span>Samsung galaxy i7 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="hot-categori" src="images/media/index1/hot-categori10.jpg">
                                        <span>Samsung galaxy pro</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- block-hot-categori -->


        <!-- block -floor -products / floor :Electronics-->
        <div class="block-floor-products  block-floor-products-opt1 block-floor-1" id="floor1-1">
            <div class="container">
                <div class="block-title heading-opt-1">
                    <span class="title"><img src="images/media/index1/floor1.png" alt="floor">Electronics</span>
                    <ul class="links">
                        <li role="presentation" class="active"><a href="#all1" role="tab" data-toggle="tab">All
                            Products</a></li>
                    </ul>
                    <div class="actions">
                        <a href="#" class="action action-up"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                        <a href="#floor1-2" class="action action-down"><i class="fa fa-angle-down"
                                                                          aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="block-content">

                    <div class="col-banner">
                        <a href="#" class="img"><img src="images/media/index1/baner-floor1.jpg" alt="baner-floor"></a>
                        <div class="description">
                            <strong class="title"> Electric Kettle</strong>
                            <div class="des">Super save electricity <br> for every home</div>
                            <a href="#" class="btn btn-default">shop now</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4" ng-repeat="prod in vm.data.results">
                            <a href="#">
                                <div class="thumbnail" >
                                    <!--todo replace image url with a base url-->
                                    <img ng-src="{{prod.image | formatImage}}" width="120" height="120">
                                    <div class="thumbnail-desc">
                                        <p class="thumbnail-paragraph">{{prod.name}}</p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>

                    <div class="col-products ">

                        <!-- tab content All Products -->
                        <div class="box-tab active in  fade " id="all1" role="tabpanel">
                            <div class="owl-carousel"
                                 data-nav="true"
                                 data-dots="false"
                                 data-margin="0"
                                 data-responsive='{
                                    "0":{"items":1},
                                    "420":{"items":2},
                                    "600":{"items":3},
                                    "768":{"items":3},
                                    "992":{"items":3},
                                    "1200":{"items":3}
                                }'>

                                <!--<div class="item" ng-repeat="prod in vm.data.results">-->
                                    <!--<div class="product-item product-item-opt-1">-->
                                        <!--<div class="product-item-info">-->
                                            <!--<div class="product-item-photo">-->
                                                <!--<a class="product-item-img" href="#"><img ng-src="{{prod.image | formatImage}}" width="50" height="50"></a>-->
                                            <!--</div>-->
                                            <!--<div class="product-item-detail">-->
                                                <!--<strong class="product-item-name"><a href="#">{{prod.name}}</a></strong>-->
                                                <!--&lt;!&ndash;<div class="product-item-actions">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<a class="btn btn-wishlist" href="#"><span>wishlist</span></a>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<a class="btn btn-compare" href="#"><span>compare</span></a>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<button type="button" class="btn btn-cart"><span>Add to Cart</span>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash;<div class="product-item product-item-opt-1">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="product-item-info">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div class="product-item-photo">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<a class="product-item-img" href="#"><img alt="product name"&ndash;&gt;-->
                                                                                          <!--&lt;!&ndash;src="images/media/index1/electronics2.jpg"></a>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<div class="product-item-detail">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<strong class="product-item-name"><a href="#">Washing Machine&ndash;&gt;-->
                                                    <!--&lt;!&ndash;Pro </a></strong>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<div class="product-item-price">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<span class="price">$45.00</span>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<div class="product-item-actions">&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<a class="btn btn-wishlist" href="#"><span>wishlist</span></a>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<a class="btn btn-compare" href="#"><span>compare</span></a>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;<button type="button" class="btn btn-cart"><span>Add to Cart</span>&ndash;&gt;-->
                                                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--</div>-->

                                <!--<div class="item">-->
                                    <!--<div class="product-item product-item-opt-1">-->
                                        <!--<div class="product-item-info">-->
                                            <!--<div class="product-item-photo">-->
                                                <!--<a class="product-item-img" href="#"><img alt="product name"-->
                                                                                          <!--src="images/media/index1/electronics3.jpg"></a>-->
                                            <!--</div>-->
                                            <!--<div class="product-item-detail">-->
                                                <!--<strong class="product-item-name"><a href="#">Electronics Machine-->
                                                    <!--Pro </a></strong>-->
                                                <!--<div class="product-item-price">-->
                                                    <!--<span class="price">$45.00</span>-->
                                                <!--</div>-->
                                                <!--<div class="product-item-actions">-->
                                                    <!--<a class="btn btn-wishlist" href="#"><span>wishlist</span></a>-->
                                                    <!--<a class="btn btn-compare" href="#"><span>compare</span></a>-->
                                                    <!--<button type="button" class="btn btn-cart"><span>Add to Cart</span>-->
                                                    <!--</button>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="product-item product-item-opt-1">-->
                                        <!--<div class="product-item-info">-->
                                            <!--<div class="product-item-photo">-->
                                                <!--<a class="product-item-img" href="#"><img alt="product name"-->
                                                                                          <!--src="images/media/index1/electronics4.jpg"></a>-->
                                            <!--</div>-->
                                            <!--<div class="product-item-detail">-->
                                                <!--<strong class="product-item-name"><a href="#">SamSung HSD-->
                                                    <!--Television </a></strong>-->
                                                <!--<div class="product-item-price">-->
                                                    <!--<span class="price">$45.00</span>-->
                                                <!--</div>-->
                                                <!--<div class="product-item-actions">-->
                                                    <!--<a class="btn btn-wishlist" href="#"><span>wishlist</span></a>-->
                                                    <!--<a class="btn btn-compare" href="#"><span>compare</span></a>-->
                                                    <!--<button type="button" class="btn btn-cart"><span>Add to Cart</span>-->
                                                    <!--</button>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <!--<div class="item">-->
                                    <!--<div class="product-item product-item-opt-1">-->
                                        <!--<div class="product-item-info">-->
                                            <!--<div class="product-item-photo">-->
                                                <!--<a class="product-item-img" href="#"><img alt="product name"-->
                                                                                          <!--src="images/media/index1/electronics5.jpg"></a>-->
                                            <!--</div>-->
                                            <!--<div class="product-item-detail">-->
                                                <!--<strong class="product-item-name"><a href="#">SamSung Ultral-->
                                                    <!--Television </a></strong>-->
                                                <!--<div class="product-item-price">-->
                                                    <!--<span class="price">$45.00</span>-->
                                                <!--</div>-->
                                                <!--<div class="product-item-actions">-->
                                                    <!--<a class="btn btn-wishlist" href="#"><span>wishlist</span></a>-->
                                                    <!--<a class="btn btn-compare" href="#"><span>compare</span></a>-->
                                                    <!--<button type="button" class="btn btn-cart"><span>Add to Cart</span>-->
                                                    <!--</button>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<div class="product-item product-item-opt-1">-->
                                        <!--<div class="product-item-info">-->
                                            <!--<div class="product-item-photo">-->
                                                <!--<a class="product-item-img" href="#"><img alt="product name"-->
                                                                                          <!--src="images/media/index1/electronics6.jpg"></a>-->
                                            <!--</div>-->
                                            <!--<div class="product-item-detail">-->
                                                <!--<strong class="product-item-name"><a href="#">Electrolux 6.0 Pro-->
                                                    <!--Vesion</a></strong>-->
                                                <!--<div class="product-item-price">-->
                                                    <!--<span class="price">$45.00</span>-->
                                                <!--</div>-->
                                                <!--<div class="product-item-actions">-->
                                                    <!--<a class="btn btn-wishlist" href="#"><span>wishlist</span></a>-->
                                                    <!--<a class="btn btn-compare" href="#"><span>compare</span></a>-->
                                                    <!--<button type="button" class="btn btn-cart"><span>Add to Cart</span>-->
                                                    <!--</button>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                            </div>
                        </div>
                    </div>

                    <!--<div class="col-featured">-->
                        <!--<span class="label-featured"><img src="images/icon/index1/label-featured.png"-->
                                                          <!--alt="label-featured"></span>-->
                        <!--<div class="owl-carousel"-->
                             <!--data-nav="true"-->
                             <!--data-dots="false"-->
                             <!--data-margin="0"-->
                             <!--data-responsive='{-->
                                <!--"0":{"items":1},-->
                                <!--"380":{"items":2},-->
                                <!--"480":{"items":2},-->
                                <!--"600":{"items":1},-->
                                <!--"992":{"items":1}-->
                                <!--}'>-->
                            <!--<div class="item">-->
                                <!--<div class="product-item product-item-opt-1">-->
                                    <!--<div class="product-item-info">-->
                                        <!--<div class="product-item-photo">-->
                                            <!--<a class="product-item-img" href="#"><img alt="product name"-->
                                                                                      <!--src="images/media/index1/featured-electronics1.jpg"></a>-->
                                        <!--</div>-->
                                        <!--<div class="product-item-detail">-->
                                            <!--<strong class="product-item-name"><a href="#">Asus Ispiron 20</a></strong>-->
                                            <!--<div class="product-item-price">-->
                                                <!--<span class="price">$45.00</span>-->
                                            <!--</div>-->
                                            <!--<div class="product-item-actions">-->
                                                <!--<a class="btn btn-wishlist" href="#"><span>wishlist</span></a>-->
                                                <!--<a class="btn btn-compare" href="#"><span>compare</span></a>-->
                                                <!--<button type="button" class="btn btn-cart"><span>Add to Cart</span>-->
                                                <!--</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="product-item product-item-opt-1">-->
                                    <!--<div class="product-item-info">-->
                                        <!--<div class="product-item-photo">-->
                                            <!--<a class="product-item-img" href="#"><img alt="product name"-->
                                                                                      <!--src="images/media/index1/featured-electronics2.jpg"></a>-->
                                        <!--</div>-->
                                        <!--<div class="product-item-detail">-->
                                            <!--<strong class="product-item-name"><a href="#">Electronics Ispiron-->
                                                <!--20 </a></strong>-->
                                            <!--<div class="product-item-price">-->
                                                <!--<span class="price">$45.00</span>-->
                                            <!--</div>-->
                                            <!--<div class="product-item-actions">-->
                                                <!--<a class="btn btn-wishlist" href="#"><span>wishlist</span></a>-->
                                                <!--<a class="btn btn-compare" href="#"><span>compare</span></a>-->
                                                <!--<button type="button" class="btn btn-cart"><span>Add to Cart</span>-->
                                                <!--</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="product-item product-item-opt-1">-->
                                    <!--<div class="product-item-info">-->
                                        <!--<div class="product-item-photo">-->
                                            <!--<a class="product-item-img" href="#"><img alt="product name"-->
                                                                                      <!--src="images/media/index1/featured-electronics3.jpg"></a>-->
                                        <!--</div>-->
                                        <!--<div class="product-item-detail">-->
                                            <!--<strong class="product-item-name"><a href="#">Samsung Ispiron-->
                                                <!--20 </a></strong>-->
                                            <!--<div class="product-item-price">-->
                                                <!--<span class="price">$45.00</span>-->
                                            <!--</div>-->
                                            <!--<div class="product-item-actions">-->
                                                <!--<a class="btn btn-wishlist" href="#"><span>wishlist</span></a>-->
                                                <!--<a class="btn btn-compare" href="#"><span>compare</span></a>-->
                                                <!--<button type="button" class="btn btn-cart"><span>Add to Cart</span>-->
                                                <!--</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="item">-->
                                <!--<div class="product-item product-item-opt-1">-->
                                    <!--<div class="product-item-info">-->
                                        <!--<div class="product-item-photo">-->
                                            <!--<a class="product-item-img" href="#"><img alt="product name"-->
                                                                                      <!--src="images/media/index1/featured-electronics1.jpg"></a>-->
                                        <!--</div>-->
                                        <!--<div class="product-item-detail">-->
                                            <!--<strong class="product-item-name"><a href="#">Asus Ispiron 20</a></strong>-->
                                            <!--<div class="product-item-price">-->
                                                <!--<span class="price">$45.00</span>-->
                                            <!--</div>-->
                                            <!--<div class="product-item-actions">-->
                                                <!--<a class="btn btn-wishlist" href="#"><span>wishlist</span></a>-->
                                                <!--<a class="btn btn-compare" href="#"><span>compare</span></a>-->
                                                <!--<button type="button" class="btn btn-cart"><span>Add to Cart</span>-->
                                                <!--</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="product-item product-item-opt-1">-->
                                    <!--<div class="product-item-info">-->
                                        <!--<div class="product-item-photo">-->
                                            <!--<a class="product-item-img" href="#"><img alt="product name"-->
                                                                                      <!--src="images/media/index1/featured-electronics2.jpg"></a>-->
                                        <!--</div>-->
                                        <!--<div class="product-item-detail">-->
                                            <!--<strong class="product-item-name"><a href="#">Electronics Ispiron-->
                                                <!--20 </a></strong>-->
                                            <!--<div class="product-item-price">-->
                                                <!--<span class="price">$45.00</span>-->
                                            <!--</div>-->
                                            <!--<div class="product-item-actions">-->
                                                <!--<a class="btn btn-wishlist" href="#"><span>wishlist</span></a>-->
                                                <!--<a class="btn btn-compare" href="#"><span>compare</span></a>-->
                                                <!--<button type="button" class="btn btn-cart"><span>Add to Cart</span>-->
                                                <!--</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="product-item product-item-opt-1">-->
                                    <!--<div class="product-item-info">-->
                                        <!--<div class="product-item-photo">-->
                                            <!--<a class="product-item-img" href="#"><img alt="product name"-->
                                                                                      <!--src="images/media/index1/featured-electronics3.jpg"></a>-->
                                        <!--</div>-->
                                        <!--<div class="product-item-detail">-->
                                            <!--<strong class="product-item-name"><a href="#">Samsung Ispiron-->
                                                <!--20 </a></strong>-->
                                            <!--<div class="product-item-price">-->
                                                <!--<span class="price">$45.00</span>-->
                                            <!--</div>-->
                                            <!--<div class="product-item-actions">-->
                                                <!--<a class="btn btn-wishlist" href="#"><span>wishlist</span></a>-->
                                                <!--<a class="btn btn-compare" href="#"><span>compare</span></a>-->
                                                <!--<button type="button" class="btn btn-cart"><span>Add to Cart</span>-->
                                                <!--</button>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- block -floor -products / floor :Electronics-->
    </main>
    <!-- end MAIN -->

</div>

<!--todo wrap these scripts-->
<!-- jQuery -->
<script type="text/javascript" src="js/jquery.min.js"></script>

<!-- sticky -->
<script type="text/javascript" src="js/jquery.sticky.js"></script>

<!-- OWL CAROUSEL Slider -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script>

<!-- Boostrap -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- Countdown -->
<script type="text/javascript" src="js/jquery.countdown.min.js"></script>

<!--jquery Bxslider  -->
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>

<!-- actual -->
<script type="text/javascript" src="js/jquery.actual.min.js"></script>

<!-- jQuery UI -->
<script type="text/javascript" src="js/jquery-ui.min.js"></script>

<!-- Chosen jquery-->
<script type="text/javascript" src="js/chosen.jquery.min.js"></script>

<!-- elevatezoom -->
<script type="text/javascript" src="js/jquery.elevateZoom.min.js"></script>

<!-- fancybox -->
<script src="js/fancybox/source/jquery.fancybox.pack.js"></script>
<script src="js/fancybox/source/helpers/jquery.fancybox-media.js"></script>
<script src="js/fancybox/source/helpers/jquery.fancybox-thumbs.js"></script>

<!-- arcticmodal -->
<script src="js/arcticmodal/jquery.arcticmodal.js"></script>

<!-- Main -->
<script type="text/javascript" src="js/main.js"></script>