<div class="container">
    <nav class="navbar navbar-default" id="main-nav">
        <div class="container-fluid" id="nav-container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="#"> <img src="assets/img/logo.jpg" height="40" id="logo"></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right" id="bomboka-nav">
                    <li role="presentation" class="profile-item">
                        <a href="#"> <img src="assets/img/avatar.png" width="30" id="nva-pro-pic"><span> Drennan</span></a>
                    </li>
                    <li role="presentation"><a href="#">Home </a></li>
                    <li role="presentation"><a href="#"><i class="icon ion-android-chat" id="messages"></i></a></li>
                    <li role="presentation">
                        <a href="#"> <i class="icon ion-ios-cog" id="settings"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-9">
            <div class="jumbotron">
                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in,
                    egestas eget quam.</p>
                <p><a class="btn btn-default" role="button" href="#">Learn more</a></p>
            </div>
            <div class="row builtin-ads">
                <div class="col-md-6">
                    <h3>Bulletin ads</h3></div>
                <div class="col-md-6">
                    <h3>Bulletin ads</h3></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <input class="input-sm" type="search" id="search-store">
                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"
                                                                         id="search-icon-store"></i></button>
                    </form>
                    <div id="tiles-div">
                        <div class="row">

                            <div class="col-md-4" ng-repeat="prod in prodctrl.data">
                                <div class="thumbnail"><img src="assets/img/laptop.jpeg" width="120" height="50">
                                    <div class="thumbnail-desc">
                                        <p class="thumbnail-paragraph">{{prod.name}}</p>
                                        <p class="thumbnail-paragraph">{{prod.price}}</p>
                                        <p class="thumbnail-paragraph">5% OFF</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 sponsored-products">
            <div class="thumbnail" class="card-thumbnail">
                <div class="card-header">
                    <h5>SPONSORED PRODUCTS</h5></div>
                <img src="assets/img/iphone.jpg">
                <div class="card-footer" class="caption">
                    <h3>iPhone 7</h3>
                    <p class="thumbnail-paragraph">Price: UGX 200,000</p>
                    <p class="thumbnail-paragraph">Retail Price: UGX 150,000</p>
                </div>
            </div>
            <div class="thumbnail" class="card-thumbnail">
                <div class="card-header">
                    <h5>SPONSORED PRODUCTS</h5></div>
                <img src="assets/img/iphone.jpg">
                <div class="card-footer" class="caption">
                    <h3>iPhone 7</h3>
                    <p class="thumbnail-paragraph">Price: UGX 200,000</p>
                    <p class="thumbnail-paragraph">Retail Price: UGX 150,000</p>
                </div>
            </div>
            <div class="thumbnail" class="card-thumbnail">
                <div class="card-header">
                    <h5>SPONSORED PRODUCTS</h5></div>
                <img src="assets/img/iphone.jpg">
                <div class="card-footer" class="caption">
                    <h3>iPhone 7</h3>
                    <p class="thumbnail-paragraph">Price: UGX 200,000</p>
                    <p class="thumbnail-paragraph">Retail Price: UGX 150,000</p>
                </div>
            </div>
            <button class="btn btn-danger" type="button" id="best-prices-btn">Best Prices</button>
        </div>
    </div>
</div>


<!--| filter:prodctrl.search-->
