<div class="container">
    <header-directive></header-directive>
    <div style="margin: 40px">
        <p>Product Name: {{psctrl.order.product.name}}</p>
        <p>Buyer Name: {{psctrl.order.buyer.username}}</p>
        <p>Vendor Name: </p>
        <p>Address: {{psctrl.order.buyer.address}}</p>
        <p>Telephone: {{psctrl.order.buyer.telephone}}</p>
        <p>Delivery Time: {{psctrl.order.deliveryTime}}</p>
        <p>Commission:</p>
        <p>Valid: {{psctrl.order.valid}}</p>
        <p>Received: {{psctrl.order.received}}</p>

        <form name="form" ng-submit="psctrl.verifyCode()" role="form">
            <input type="text" ng-model="psctrl.verication_code">
            <button  class="btn btn-success" type="submit">Verify</button>
        </form>
    </div>
</div>