<div class="container">
    <header-directive></header-directive>

    <div style="margin: 100px">
        <!--todo add progress bar for upload-->
        <a href="">
            <img ng-src="http://127.0.0.1:9000/fetch_image_file/profile_image/{{userctrl.data.key}}/{{userctrl.data.image}}"
                 alt="Profile Image" type="file" ngf-select="uploadFiles($file, $invalidFiles, userctrl.data.key)"
                 accept="image/*" ngf-max-height="1000" ngf-max-size="5MB">
        </a>
        <p>Username: {{userctrl.data.username}}</p>
        <p>Fullname: {{userctrl.data.fullnames}}</p>
        <p>Email: {{userctrl.data.email}}</p>
        <p>PhoneNumber: {{userctrl.data.phoneNumber}}</p>
        <p>Address: {{userctrl.data.address}}</p>
        <button ui-sref="#!/update_user_data" class="btn btn-danger">Update Information</button>
    </div>
</div>