<div class="container">
    <div class="container-fluid" id="nav-container">
        <div class="navbar-header">
            <a class="navbar-brand navbar-link" href="#"> <img src="assets/img/logo.jpg" height="40" id="logo"></a>
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav navbar-right" id="bomboka-nav">
                <li role="presentation"><a href="#">Home</a></li>
                <li role="presentation"><a href="#!/cart">Cart</a></li>
                <li role="presentation">
                    <a href="#"><i class="icon ion-android-chat" id="messages"></i></a>
                </li>
                <li role="presentation">
                    <a href="#"> <i class="icon ion-ios-cog" id="settings"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-5 signup-block">
        <form name="form" ng-submit="userctrl.updateProfile()" role="form">
            <h2 id="signup-block-heading">Update Information</h2>
            <!--todo add error messages to each field-->
            <!--<span data-ng-show="form.firstName.$dirty && form.firstName.$error.required"-->
                  <!--class="help-block">First name is required></span>-->
            <input type="text" placeholder="Full Name" ng-model="userctrl.data.fullnames" class="signup-input">
            <input type="text" placeholder="User Name" ng-model="userctrl.data.username" class="signup-input">
            <input type="text" placeholder="Email or Phone Number" class="signup-input" ng-model="userctrl.data.email">
            <input type="text" placeholder="Address" class="signup-input" ng-model="userctrl.data.address">

            <input type="date" class="signup-input" ng-model="userctrl.data.dob" placeholder="Date of Birth" min="1930-01-01" max="2030-12-31">
            <p>{{userctrl.data}}</p>
            <input type="text" placeholder="Phone Number" class="signup-input" ng-model="userctrl.data.phoneNumber">
            <select class="login-select" ng-model="userctrl.data.sex">
                <optgroup label="Sex">
                    <option value="Female" selected="">Female</option>
                    <option value="Male">Male</option>
                </optgroup>
            </select>
            <button class="btn btn-success" type="submit" ng-disabled="form.$invalname || userctrl.dataLoading">Save</button>
        </form>
        <div class="clearfix"></div>
    </div>
</div>