<div class="container">
    <header-directive></header-directive>

    <div style="margin: 100px">
        <img ng-src="http://127.0.0.1:9000/fetch_image_file/profile_image/{{userctrl.data.key}}/{{userctrl.data.image}}"
             alt="Profile Image">

        <div>
            <h4>Upload on file select</h4>
            <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                    accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                Select File</button>
            <br><br>
            File:
            <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"
               ng-bind="f.progress + '%'"></div>
      </span>
            </div>
            {{errorMsg}}

        </div>


        <p>Username: {{userctrl.data.username}}</p>
        <p>Fullname: {{userctrl.data.fullnames}}</p>
        <p>Email: {{userctrl.data.email}}</p>
        <p>PhoneNumber: {{userctrl.data.phoneNumber}}</p>
        <p>Address: {{userctrl.data.address}}</p>
        <button ui-sref="#!/update_user_data" class="btn btn-danger">Update Information</button>
    </div>
</div>