<div class="container">
    <header-directive></header-directive>

    <div style="margin: 100px">
        <img ng-src="http://127.0.0.1:9000/fetch_image_file/profile_image/{{userctrl.data.key}}/{{userctrl.data.image}}"
             alt="Profile Image">
        <button ng-click="userctrl.updateImage()"
                class="btn btn-danger btn-upload" upload-button
                url="/upload"
                on-success="onSuccess(response)">Change Image
        </button>
        <p>Username: {{userctrl.data.username}}</p>
        <p>Fullname: {{userctrl.data.fullnames}}</p>
        <p>Email: {{userctrl.data.email}}</p>
        <p>PhoneNumber: {{userctrl.data.phoneNumber}}</p>
        <p>Address: {{userctrl.data.address}}</p>
        <button ui-sref="#!/update_user_data" class="btn btn-danger">Update Information</button>
    </div>
</div>